# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
env/
venv/
*.env

# Django
db.sqlite3
*.sqlite3
settings.py
local_settings.py

# Static and Media
staticfiles/
static/
media/

# System and IDE
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Third-party
*.egg-info/
*.eggs/

# Logs
*.log
